html,
body {
  height: 100%;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  cursor: url("https://raw.githubusercontent.com/IMXNOOBX/imxnoobx.github.io/main/mouse/default.svg"), auto;
  transition: all .5s;
}


/* Important to keep everything together */
* {
  box-sizing: border-box;
}

.bg-image {
  /* The image used */
  background-image: url("../assets/nasa_space.png");

  /* Add the blur effect */
  /* filter: blur(5px);
  -webkit-filter: blur(5px); */

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
  /* overflow: hidden; */
  pointer-events: none; 

  background-position: 0px 0px;
  background-repeat: repeat-x;
  animation: animatedBackground 60s linear infinite alternate;
}

 /* https://stackoverflow.com/a/60492357/15384495 */
.bg-image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px); 
  pointer-events: none; 
}


@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}

.nav {
  /* Position text in the middle of the page/image */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(56, 56, 56, 0.4); /* Black w/opacity/see-through */
  border-radius: 15px;
  box-shadow: inset;
  color: white;
  font-weight: bold;
  /* border: 2px solid rgb(24, 24, 24); */
  box-shadow: 0 0px 15px rgba(255, 255, 255, 0.322);
  position: absolute;
  top: 7%; /*10%*/
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 95%;
  padding: 5px;
  text-align: center;

  transition: all .5s;
}

.nav h1 {
  /* text-align: left; */
  float: left;
  margin-left: 20px;
}

.nav a {
  /* text-align: left; */
  float: right; 
  
  /* margin: 10px;
  padding: 20px; */

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;

  margin-right: 20px;
  margin-top: 10px;
  margin-top: 10px;

  text-decoration: none;
  background-color: rgb(24, 24, 24);
  border-radius: 15px;
  color: white;
  transition: all .5s;

  text-transform: uppercase;
}

.nav a:hover {
  background-color: rgb(233, 233, 233);
  color: rgb(24, 24, 24);
  box-shadow: 0 0px 15px rgba(255, 255, 255, 0.322);
  border-radius: 10px;
  font-size: 17px;
}

.content {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(56, 56, 56, 0.4); /* Black w/opacity/see-through */
  border-radius: 15px;
  box-shadow: inset;
  color: white;
  font-weight: bold;
  /* border: 2px solid rgb(24, 24, 24); */
  box-shadow: 0 0px 15px rgba(255, 255, 255, 0.322);
  position: absolute;
  top: 15%;
  left: 36.5%;
  transform: translate(-50%);
  z-index: 2;
  width: 68%;
  padding: 5px;
  text-align: center;
  transition: all .5s;
  overflow: auto;
  max-height: 70%;
}


.content-search {
  /* float: left;   */
  width: 100%;
  /* margin-left: 20px;
  margin-right: 20px; */
  padding: 20px, 0, 0, 20px;
  /* padding-left: 20px; */
  margin-top: 20px;

  background-color: rgba(56, 56, 56, 0.5);
  border-radius: 10px;
}

.content-search input[type=text] {
  float: left;  
  border: none;
  color: white;
  /* background-color: black; */
  font-size: 20px;
  background-color: rgba(56, 56, 56, 0.7);

  /* margin-left: 20px; */

  border-radius: 10px;
  height: 40px;
  width: calc(100% - 45px);
}

.content-search button {
  float: left;
  cursor:pointer;
  border:none;
  text-decoration: none;
  background-color: transparent;
  height: 40px;
}

.content-search img {
  filter: brightness(0) invert(1);
}

/*.content-search button:active {*/
  /* float: right; */

/*}*/

.conten-data {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  text-align: left;
}

.question {
  font-weight: bold;
  color: #2ac3ff;
}
.answers {
  font-weight: lighter;
  color: #8fffb4;
  /* margin-left: 10px; */
}

.api-content {
  list-style-type: none;
  display: list-item;
  text-align: left;
  /* padding: 10px; */
}
.api-content li {
  margin-bottom: 30px;
}
.code-snippet {
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  color: rgb(158, 158, 158);
}

.json-snippet {
  margin-right: 50px;
  border-radius: 5px;
  background-color: #525252;
  padding: 20px;
  font-family: monospace;
  /* padding-left: 40px; this will add 40px of indentation to the left of each line */
}
.key {
  color: #32e5f1;
}
.bool {
  color: #1b89e4;
}
.string {
  color: #ff4d17;
}
.number {
  color: #32cc32;
}

.code-desc {
  /* margin-left: 30px; */
  /* text-indent: 50px; */
  font-size: 1em;
  color: rgb(211, 211, 211);
}

.content-result {
  margin: 20px;
  padding-top: 60px;
}

.stats {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(56, 56, 56, 0.4); /* Black w/opacity/see-through */
  border-radius: 15px;
  box-shadow: inset;
  color: white;
  font-weight: bold;
  /* border: 2px solid rgb(24, 24, 24); */
  box-shadow: 0 0px 15px rgba(255, 255, 255, 0.322);
  position: absolute;
  top: 15%;
  left: 85%;
  transform: translate(-50%);
  z-index: 2;
  width: 25%;
  padding: 5px;
  text-align: center;
  transition: all .5s;
}

.stats ul {
  float: left;
  text-align: left;
  list-style-type: none;
}

.stats li {
  margin-top: 20px;
}


.auth-toggle {
  position:absolute;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(56, 56, 56, 0.4); /* Black w/opacity/see-through */
  border-radius: 15px;
  box-shadow: inset;
  color: white;
  font-weight: bold;
  /* border: 2px solid rgb(24, 24, 24); */
  box-shadow: 0 0px 15px rgba(255, 255, 255, 0.322);
  position: absolute;
  top: 95%;
  left: 97%;
  transform: translate(-50%, -50%);
  z-index: 4;
  width: 45px;
  /* padding: 5px; */
  text-align: center;
  transition: all .5s;
}

.auth-toggle button {
  /* float: right; */
  cursor: pointer;
  border: none;
  text-decoration: none;
  background-color: transparent;
  height: 40px;
}

.auth-toggle:hover  {
  background-color: rgb(233, 233, 233);
  color: rgb(24, 24, 24);
  box-shadow: 0 0px 15px rgba(255, 255, 255, 0.322);
}

.auth-toggle:hover img {
  filter: none
}

.auth-toggle img {
  filter: brightness(0) invert(1);
}

.auth-popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(100,100,100,0.3);
  z-index: 3;
}

.auth-popup-bg {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(56, 56, 56, 0.5); /* Black w/opacity/see-through */
  border-radius: 15px;
  box-shadow: inset;
  color: white;
  font-weight: bold;
  /* border: 2px solid rgb(24, 24, 24); */
  box-shadow: 0 0px 15px rgba(255, 255, 255, 0.322);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  width: 25%;
  padding: 5px;
  text-align: center;
  transition: all .5s;
}

.auth-popup button {
  float: right;
  cursor: pointer;
  border: none;
  text-decoration: none;
  background-color: transparent;
  height: 40px;
}

.auth-popup img {
    filter: brightness(0) invert(1);
}

.auth-popup input[type=text] {
  float: left;  
  border: none;
  color: white;
  /* background-color: black; */
  font-size: 20px;
  background-color: rgba(56, 56, 56, 0.7);

  /* margin-left: 20px; */

  border-radius: 10px;
  height: 40px;
  width: calc(100% - 45px);
}



.footer  {
  color: white;
  font-weight: bold;
  /* border: 2px solid rgb(24, 24, 24); */
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  padding: 5px;
  text-align: center;
}

.footer span {
  font-size: 12px
}
.footer a  {
  font-size: 11px;
  text-decoration: none;
  color: rgb(123, 154, 255);
}


@media (max-width:800px){

  .stats {
    display: none;
  }

  .content {
    width: 95%;
    top: calc(15% + 25px);
    left: 50%;
    transform: translate(-50%);
  }
}

@media (max-width:710px){
  .content {
    top: calc(15% + 40px);
  }

  .nav h1 {
    float: none;
    text-align: center;
  }

  .nav {
    text-align: center;
    float: none; 
    /* display: none; */
    padding: 15px;
  }

  .nav a {
    text-align: center;
    float: none; 
    /* display: none; */
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;

    margin: 5px;
    font-size: 15px
  }
}

@media (max-width:500px){
  
  .nav {
    text-align: center;
    float: none; 
    /* display: none; */
    padding: 10px;
  }

  .nav a {
    text-align: center;
    float: none; 
    /* display: none; */
    padding: 10px;
    margin: 10px;
    font-size: 15px
  }
}

@media (max-width:400px){
  
  .nav {
    text-align: center;
    float: none; 
    /* display: none; */
    padding: 10px;
  }

  .nav a {
    text-align: center;
    float: none; 
    /* display: none; */
    padding: 7px;
    margin: 7px;
    font-size: 12px
  }
}

/* Change the width and height of the scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Change the color of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}

/* Change the color of the scrollbar track */
::-webkit-scrollbar-track {
  background: #222;
  border-radius: 10px;
}

/* Add a hover effect on the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
